h1, h2 {
  border: 5px solid black;
}

#IntroContainer {
  padding: 10px;
  margin: 5px;
  border: 1px solid red;
}

#DocsPic {
  max-width: 300px;
  height: auto;
}

div, .ListContainer {
  background-color: gold;
  padding-bottom: 25px;
}

#FootLinks {
  margin-top: 50px;
  font-size: 24px;
  text-align: center;
}

