html {
  background-color: antiquewhite;
}

body {
  text-align: left;
  font-size: 18px;
  max-width: 100%;
}

p {
  max-width: 100%;
}

h1, h2 {
  font-size: 50px;
  padding-left: 25px;
}


img {
  width: 450px;
  height: 300px;
  margin: auto;
  display: block;
  padding-top: 25px;

}

div {
  border: 2px solid burlywood;
  margin: 10px;
}



#top {
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 375px) {
#top {
display: flex;
flex-direction: column;
align-items: center;
}
img {
  width: 270px;
  height: 200px
}
p {
  padding-left: 35px;
  padding-right: 35px;
}
}




#bio {
  float: right;
}

#bio > li {
  padding: 2px;
}

#pro {
  width: auto;
}

