html {
  background-color: antiquewhite;
}

body {
  text-align: left;
  font-size: 18px;
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

h1 {
  font-size: 50px;
}

img {
  width: 450px;
  height: 300px;
  margin: auto;
  display: block;

}

div {
  border: 2px solid burlywood;
  margin: 10px;
}



#top {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
  padding-right: 200px;
}

@media only screen and (max-width: 700px) {
#top {
display: flex;
flex-direction: column;
align-items: center;

}
}




#bio {
  float: right;
}

#bio > li {
  padding: 2px;
}

#pro {
  width: auto;
}

